.main-container {
    margin-top: 10px;
    width: 100%;
    height: auto;
    display: -webkit-flex; /* Safari */
    display: flex; 
    flex-direction: column;
    /* background-color: whitesmoke; */
}